* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: roboto, sans-serif;
}
nav {
    position: fixed;
    top:0;
    background: #3c6382;
    color: #fff;
    width: 100%;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 4;
}

#branding, .nav-links {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#branding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#branding p {
    font-size: 150%;
}
#branding .name {
    color: red;
    font-style: oblique;
}
.hamburger {
    display: none;
}
.hamburger div {
    width: 35px;
    height: 2.5px;
    margin: 4px;
    background-color: #fff;
    -webkit-transition: all 1s ease;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.nav-links {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.nav-links li a {
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
}
#landing {
    background: url("https://images.unsplash.com/photo-1498654896293-37aacf113fd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    margin-top: 10vh;
}
#landing-content {
    background: black;
    color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.8;
     display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
#landing h1 {
    font-size: 160%;
}
#landing h1, #landing p {
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
}
#landing .values p {
    font-style: oblique;
    font-family: monospace;
    font-size: 110%;
}
#landing .btns {
    padding: 15px;
}
.btn {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    opacity: 1;
    background-color: #3c6382;
}
.btn-order {
    background-color: #3c6382;
    margin-right: 20px;
}
.btn-reserve {
    background-color: #f00;
}
.btn a {
    font-size: 120%;
    color: #fff;
    text-decoration: none;
}

#secondary {
    padding-top: 60px;
}
#events img {
    width: 80%;
    height: 600px;
}
.carousel-control-prev {
    width: 400px;
}
.carousel-control-next {
    width: 400px;
}
.special {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.showcase {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.showcase img {
    width: 50%;
    height: 450px;
}
.special p {
    width: 60%;
    margin: 10px auto;
}

/*============ MENU ============*/
h2 {
    text-align: center;
}
.row img {
    width: 100%;
    height: 500px;
    margin-top: 10px;
}
.delivery-services img {
    width: 200px;
    height: 100px;
}

#general-inquiries {
    margin-top: 80px;
}
footer {
    min-height: 10vh;
    margin-top: 50px;
    padding-top: 20px;
    background-color: #3c6382;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
footer .location {
    margin-bottom: 30px;
}
footer p {
    font-size: 80%;
}



@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    #branding {
        width: 75%;
    }
    .hamburger {
        font-size: 30px;
        width: 35%;
        height: 100%;
        padding-right: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
    }
    .nav-links {
        position: fixed;
        right: 0;
        top: 10vh;
        height: 90vh;
        width: 50%;
        background: #3c6382;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        z-index: 3;
        -webkit-transition: -webkit-transform 1s ease-in;
        transition: -webkit-transform 1s ease-in;
        transition: transform 1s ease-in;
        transition: transform 1s ease-in, -webkit-transform 1s ease-in;
        opacity: 0;
    }
    .opacity {
        opacity: 1;
    }
    .nav-links li {
        opacity: 0;
    }
    #landing h1, p {
        max-width: 90%;
    }
}

.nav-active {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-7px, 5px);
}
.toggle .line2 {
    opacity: 0
}
.toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, 6px);
    transform: rotate(45deg) translate(-9px, -9px);
}
@-webkit-keyframes navLinkFade {
    from {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

